@tailwind base;
@tailwind components;
@tailwind utilities;

:root ::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

:root ::-webkit-scrollbar-thumb {
  background-color: theme("colors.primary.400");
  cursor: pointer;
}

:root {
  --background-color: white;
  --text-color: theme("colors.type.primary");
  --heading-color: theme("colors.type.emphasized");
  --border-color: theme("colors.primary.200");
  --popup-bg: theme("colors.primary.50");
  --link-color: theme("colors.primary.600");
  --dimmed-color: theme("colors.primary.400");
  --dark-color: theme("colors.primary.700");
  font-family: "open sans";
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "open sans";
  font-size: 16.25px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.block {
  max-width: 62rem;
  min-height: 100vh;
  padding: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--heading-color);
  margin-top: -0.3rem;
  margin-bottom: 0.7rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--heading-color);
}

h3 {
  font-size: 1.05rem;
  font-weight: bold;
  color: var(--heading-color);
}

strong {
  color: var(--heading-color);
}

em {
  font-style: italic;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol,
ul {
  padding-left: 1.5rem;
  line-height: 1.6rem;
  list-style-type: disc;
}

ol.sm,
ul.sm {
  padding-left: 1.15rem;
  margin-block: 0.7rem;
  line-height: normal;
  list-style-type: "- ";
}

ol {
  list-style-type: decimal;
}

li::marker,
ol::marker {
  font-style: italic;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  margin-block: 1rem;
}

code {
  font-family: monospace;
  background-color: theme("colors.primary.100");
  border: solid theme("colors.primary.200") 1px;
  color: theme("colors.type.dark");
  padding: 0.25rem 0.3rem 0.1rem;
}

blockquote {
  margin-block: 1rem;
  padding: 0.5rem 0.8rem;
  border-left: 4.5px solid theme("colors.primary.600");
  background-color: theme("colors.primary.50");
  color: theme("colors.type.dimmed");
}

hr {
  border: 0;
  height: 1px;
  margin-block: 1rem;
  background: var(--border-color);
}

hr.sm {
  border: 0;
  height: 1px;
  background: var(--border-color);
  margin-block: 0.5rem;
}

.popup {
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
  background-color: theme("colors.primary.50");
  border: 1px solid theme("colors.primary.200");
  padding: 0.5rem;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
  color: theme("colors.type.primary");
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-dimmed {
  color: theme("colors.primary.400");
}

.text-dark {
  color: theme("colors.primary.700");
}
